.gameButton {
    
    position: relative;
    border: none;
    overflow: hidden;
    user-select: none;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 8px var(--secondary);
    border-radius: 10px;
    background-color: var(--tertiary);
    opacity: 0.8;
    transition: all 0.3s;

}

.gameImg {
    
    position: absolute;
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    inset: 0;
    opacity: 0.7;

}

.gameText {

    pointer-events: none;
    position: absolute;
    white-space: normal;
    height: auto;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    opacity: 1;  

}

.gameProviderText {

    font-size: 25px;
    border: none;
    background-color: transparent;
    opacity: 0.8;
    transition: all 0.3s;

}

.gameProviderText:hover, .gameButton:hover {

    opacity: 1;
    transform: scale(1.1);
    transition: all 0.3s;

}

.gameProviderText:active, .gameButton:active {

    transform: scale(0.9);
    transition: all 0.05s;

}

#gameProviderCaption {

    font-size: 25px;
    border: 0;
    background-color: transparent;
    opacity: 0.5;
    user-select: none;
    transition: all 0.3s;

}

#gamesDiv {

    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    margin: 0;
    animation: fadeIn 0.8s ease forwards;

}

#gamesGridDiv {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    overflow: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;

}

#selectProviderDiv {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 5px;
    padding-left: 20px;

}